In [209]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline


#데이터 프레임 한글 표시될 수 있도록 설정 - 윈도우, 맥, 리눅스에 맞게 설정됨
import platform

if platform.system() == 'Windows':
    plt.rc('font', family='Malgun Gothic')
elif platform.system() == 'Darwin': # Mac
    plt.rc('font', family='AppleGothic')
else: #linux
    plt.rc('font', family='NanumGothic')

# 그래프에 마이너스 표시가 되도록 변경
plt.rcParams['axes.unicode_minus'] = False

In [210]:
df=pd.read_csv('police_2.csv',encoding='cp949',index_col=["죄종별"])
df

                항목    2018    2019    2020    2021    2022
죄종별
사기         발생건수[건]  270029  304472  347675  294075  325848
전자금융거래법위반  발생건수[건]    7877    8132    6402    7024    9731
횡령         발생건수[건]   55113   58508   58889   50421   60220
도박범죄       발생건수[건]    6004    8008    8135    6391    4463

In [211]:
df=df.iloc[:,[1,2,3,4,5]]
df.columns.name='연도'
df=df.transpose()
df

죄종별       사기  전자금융거래법위반     횡령  도박범죄
연도
2018  270029       7877  55113  6004
2019  304472       8132  58508  8008
2020  347675       6402  58889  8135
2021  294075       7024  50421  6391
2022  325848       9731  60220  4463

In [212]:
df1=df=df.iloc[:,[2]]
df1

죄종별      횡령
연도
2018  55113
2019  58508
2020  58889
2021  50421
2022  60220

In [213]:
cpi=pd.read_csv('소비자물가지수 .csv')
cpi

,연도,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,소비자물가 총지수(2020=100),91.8,93.0,94.2,94.9,95.8,97.6,99.1,99.5,100.0,102.5,107.7
1,소비자물가상승률(%),2.2,1.3,1.3,0.7,1.0,1.9,1.5,0.4,0.5,2.5,5.1
2,식료품 · 비주류음료,4.0,0.9,0.3,1.6,2.3,3.4,2.8,0.0,4.4,5.9,5.9
3,주류 및 담배,1.5,1.7,-0.1,50.1,0.7,1.5,0.3,0.6,0.3,0.4,2.2
4,의류 및 신발,4.8,2.9,4.0,1.3,1.8,1.1,1.1,0.1,0.7,0.6,3.1
5,주택 ·수도 · 전기 및 연료,4.6,3.5,2.9,-0.6,-0.8,1.7,0.7,1.2,0.5,1.6,5.5
6,가정용품 및 가사 서비스,2.9,0.3,2.1,2.6,1.6,1.1,2.3,2.1,0.0,1.9,4.8
7,보건,0.9,0.4,0.7,1.3,1.0,0.9,-0.1,0.5,1.5,-0.1,0.8
8,교통,3.2,-0.5,-1.6,-7.8,-2.2,3.6,2.4,-1.8,-1.8,6.3,9.7
9,통신,-2.6,-0.1,-0.1,-0.2,0.1,0.3,-0.9,-2.3,-2.1,-0.9,0.9
10,오락 및 문화,0.3,1.0,0.4,-0.5,1.8,0.1,0.5,-0.2,-1.0,0.4,2.8
11,교육,1.4,1.2,1.5,1.7,1.6,1.1,1.4,0.5,-2.1,0.9,1.3
12,음식 및 숙박,1.2,1.6,1.5,2.3,2.5,2.4,3.0,1.8,0.9,2.7,7.6
13,기타 상품 및 서비스,-3.3,0.5,3.1,2.7,3.4,2.8,0.6,1.6,2.0,2.0,6.1
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,주석:,1) 소비자물가상승률 = {(당해년도 연간소비자물가지수 ÷ 직전 연간소비자물가지수)...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [214]:
cp1 = cpi.iloc[0:2, [7, 8, 9, 10, 11]]
cp1

   2018  2019   2020   2021   2022
0  99.1  99.5  100.0  102.5  107.7
1   1.5   0.4    0.5    2.5    5.1

In [215]:
cpi_columns=cp1.columns
first_row=cp1.iloc[0]
print(first_row)
second_row=cp1.iloc[1]
print(second_row)

2018     99.1
2019     99.5
2020    100.0
2021    102.5
2022    107.7
Name: 0, dtype: float64
2018    1.5
2019    0.4
2020    0.5
2021    2.5
2022    5.1
Name: 1, dtype: float64

In [216]:
df_cpi = pd.DataFrame([first_row.values, second_row.values],index=["소비자물가 총지수(2020=100)","소비자물가상승률(%)"],columns=cp1.columns)
df_cpi

                     2018  2019   2020   2021   2022
소비자물가 총지수(2020=100)  99.1  99.5  100.0  102.5  107.7
소비자물가상승률(%)           1.5   0.4    0.5    2.5    5.1

In [217]:
df_cpi.columns.name='연도'
dfcpi=df_cpi.transpose()
dfcpi

      소비자물가 총지수(2020=100)  소비자물가상승률(%)
연도
2018                 99.1          1.5
2019                 99.5          0.4
2020                100.0          0.5
2021                102.5          2.5
2022                107.7          5.1

In [218]:
finaldf = pd.concat([df1, dfcpi], axis=1)
finaldf

         횡령  소비자물가 총지수(2020=100)  소비자물가상승률(%)
연도
2018  55113                 99.1          1.5
2019  58508                 99.5          0.4
2020  58889                100.0          0.5
2021  50421                102.5          2.5
2022  60220                107.7          5.1

In [219]:
finaldf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 2018 to 2022
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   횡령                   5 non-null      int64
 1   소비자물가 총지수(2020=100)  5 non-null      float64
 2   소비자물가상승률(%)          5 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 160.0+ bytes